* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6f975f;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 45px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s;
}

.menu a:hover {
    color: rgb(196, 195, 195);
}