@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Oswald", sans-serif;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(49, 49, 49);
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(179, 179, 179);
    border: 2px solid rgb(51, 51, 51);
    color: rgb(0, 0, 0);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}